html, body {
    color: white;
    background-color: gray;
    font-family: 'Times New Roman', Times, serif;
    margin: 1.5rem;
}

button {
    padding: 10px;
    font-size: 1.3rem;
    margin-right: 10px;
}